.btn{
    position: absolute;
    bottom:8.7rem;
    left: 11.4rem;
    
    z-index: 25;
    border: none;
    padding: 1.6rem 8.5rem;
    background-color: $secondary;
    color: white;
    letter-spacing: 0.05em;
    line-height: 22px;
    font-weight: 700;
    font-size: 1.8rem;
}