.btn{
    position: absolute;
    bottom:8.7rem;
    left: 11.4rem;
    
    z-index: 25;
    border: none;
    padding: 1.6rem 8.5rem;
    background-color: $secondary;
    color: white;
    letter-spacing: 0.05em;
    line-height: 22px;
    font-weight: 700;
    font-size: 1.8rem;
    @include breakpoint($laptop-xl-bp){
        left: -8rem;
        bottom: 14rem;
        padding: 1.4rem 4.5rem;
    };
    @include breakpoint($tablet-bp){
        bottom: -2.5rem;
        left: 2rem;
    };
}