.section{
    display: flex;
    position: relative;
    
    
}
.section__title-block{
    display: flex;
    justify-content: flex-end;
    width: 56.6667%;
    height: 75.6rem;
    padding-left: 1.5rem;
    background-image: url(../images/section/bg-img.png) ;
    background-position:  top left;
    background-repeat: no-repeat;
}
.section__title{
    margin-top: 9.2rem;
    
    margin-right: 23.2rem;
    max-width: 43.7rem;
    font-size: 4rem;
    line-height: 47px;
    letter-spacing: 0.05;
    font-weight: 700;
    color: $primary;
}


.section__about-block{
    padding-top: 0.7rem;
    margin-top: -0.1rem;
    width: 43.3333%;
    height: 45.3rem;
    padding-right: 1.5rem;
    background-color: $primary;
    position: relative;
    
}

.section__about-image{
    max-width: 54.9rem;
    position: absolute;
    left: -11.4rem;
    top: 0.6rem;
    z-index: 10;
    
    
}
.section__about-image-item{
    width: 100%;
    height: auto;
}
.section__about-dots{
    position: absolute;
    left: 27.4rem;
    top: 1.5rem;
    z-index:  30;
}


