.section{
    display: flex;
    position: relative;
    @include breakpoint($tablet-bp){
        flex-direction: column-reverse;
    }
    
    
}
.section__title-block{
    display: flex;
    justify-content: flex-end;
    width: 56.6667%;
    height: 75.6rem;
    padding-left: 1.5rem;
    background-image: url(../images/section/bg-img.png) ;
    background-position:  top left;
    background-repeat: no-repeat;
    @include breakpoint($laptop-xl-bp){
        width: 70%;
        height: 59.6rem;
    }
    @include breakpoint($tablet-bp){
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index:  1;
    }
}
.section__title{
    margin-top: 9.2rem;
    
    margin-right: 23.2rem;
    max-width: 43.7rem;
    font-size: 4rem;
    line-height: 47px;
    letter-spacing: 0.05;
    font-weight: 700;
    color: $primary;
    @include breakpoint($laptop-xl-bp){
        font-size: 3.2rem;
    }
    @include breakpoint($tablet-bp){
        margin-right: 0;
        position: absolute;
        bottom: 4rem;
        
        color: #fff;
        font-size: 2.8rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}


.section__about-block{
    padding-top: 0.7rem;
    margin-top: -0.1rem;
    width: 43.3333%;
    height: 45.3rem;
    padding-right: 1.5rem;
    background-color: $primary;
    position: relative;
    @include breakpoint($laptop-xl-bp){
        width: 30%;
    }
    @include breakpoint($tablet-bp){
        width: 100%;
        height: 56.7rem;
    }
    
}

.section__about-image{
    max-width: 54.9rem;
    position: absolute;
    left: -11.4rem;
    top: 0.6rem;
    z-index: 10;
    @include breakpoint($laptop-xl-bp){
        min-width: 37rem;
    }
    @include breakpoint($tablet-bp){
        width: 31.2rem;
        left: 3.6rem;
    }
    @include breakpoint($mobile-bp){
        width: 29.2rem;
        min-width: 29rem;
        left: 1.6rem;
    }
    
    
    
}
.section__about-image-item{
    width: 100%;
    height: auto;
}
.section__about-dots{
    width: 37.1rem;
    height: auto;
    position: absolute;
    left: 27.4rem;
    top: 1.5rem;
    z-index:  30;
    @include breakpoint($laptop-l-bp){
        left: 18rem;
        width: 30rem;
    }
    @include breakpoint($laptop-xl-bp){
        left: 0rem;
        width: 27rem;
        top: 30.5rem;
    }
    @include breakpoint($tablet-bp){
        top: 15rem;
        left: -14rem;
    }
}


