<header class="header" >

  
        
            <div class="header__left">
                <div class="logo">
                    <a href="#">
                        <img class="logo__item" src="../assets/images/logo.png" alt="logo">
                    </a>
                </div>
                <nav class="nav ">
                    <ul class="nav__list">
                        <li class="nav__item"><a class="nav__link" href="#">О ПРЕДЛОЖЕНИИ</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">ПРЕИМУЩЕСТВА РАБОТЫ</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">О КОМПАНИИ</a></li>
                        <li class="nav__item"><a class="nav__link" href="#">КЕЙСЫ</a></li>
                        <li class="nav__list-contact"><a class="contact__link contact__link--header-r" href="#">+380 (67) 111 11 11</a></li>
                        <li class="nav__list-contact "><a class="contact__link contact__link--header-r contact__link--thin"
                                href="#">email@site.com</a></li>
                    </ul>
                    <div class="nav__list-social__block">
                        <div class="nav__list-social__item">
                            <a href="#">
                                <img src="../assets/images/social/viber-color.svg" alt="выйбер">
                            </a>
                        </div>
                        <div class="nav__list-social__item">
                            <a href="#">
                                <img src="../assets/images/social/whatsapp.svg" alt="вотсап">
                            </a>
                        </div>
                        <div class="nav__list-social__item">
                            <a href="#">
                                <img src="../assets/images/social/telegram.png" alt="телеграм">
                            </a>
                        </div>
                    </div>
                </nav>
                <button class="burger "  id="burger" >
                    <span>Открыть навигацию</span>
                </button>
            </div>
            
            
            
            <div class="header__right">
                <div class="contact">
                    <ul class="contact__list contact__list--db ">
                        <li class="contact__item"><a class="contact__link contact__link--header-r" href="#">+380 (67) 111 11 11</a></li>
                        <li class="contact__item "><a class="contact__link contact__link--header-r contact__link--thin" href="#">email@site.com</a></li>
                    </ul>
                </div>
                <div class="social__block">
                    <div class="social__item">
                        <a href="#">
                            <img src="../assets/images/social/viber.svg" alt="выйбер">
                        </a>
                    </div>
                    <div class="social__item">
                        <a href="#">
                            <img src="../assets/images/social/whatsapp.svg" alt="вотсап">
                        </a>
                    </div>
                    <div class="social__item">
                        <a href="#">
                            <img src="../assets/images/social/telegram.png" alt="телеграм">
                        </a>
                    </div>
                </div>
            </div>

            
        
    
</header>